:root {
    --monster-color: #8a2be2;
    --bg-color: #000000;
    --contrast-color: #00bb0a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Simbiot", sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

.title-container {
    position: absolute;
    top: min(8%, 200px);
    width: 100%;
    text-align: center;
    color: var(--monster-color);
    font-size: min(5vw, 40px);
    text-shadow: 0 0 2px rgba($color: #000000, $alpha: 1.0);
    filter: drop-shadow(7px 7px 0px var(--contrast-color));
    z-index: 2;
    pointer-events: none;
}

.monster-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 1px rgba($color: #000000, $alpha: 1.0)) drop-shadow(7px 7px 5px var(--contrast-color));
}

#monster-canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
}
